@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242b33;
  color: #fff;
  font-size: 16px;
}

a {
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #d4c17f;
}

.container {
  margin: auto;
  padding: 0px 15px;
  max-width: 1140px;
}
.container--small {
  max-width: 824px;
  padding: 0 15px;
}

.text-right {
  text-align: right;
}

.visually-hidden {
  /*contain text within 1px box*/
  height: 1px;
  width: 1px;
  overflow: hidden;
  /*keep the layuot*/
  position: absolute;
  /*remove any visible trace*/
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); /* brouser in the future*/
  white-space: nowrap;
}

.none {
  display: none !important;
}

.title-2 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 700;
  color: #d4c17f;
}
@media screen and (max-width: 959px) {
  .title-2 {
    font-size: 30px;
  }
}

.link-bold {
  color: #d4c17f;
  font-weight: bold;
}

.no-scroll {
  overflow-y: hidden;
}

.thanksWebCademy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  font-family: "Roboto", sans-serif;
  color: #E7E7E7;
  font-size: 16px;
  font-weight: 300;
}

.header {
  padding-top: 30px;
  padding-bottom: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 840px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(12%, #242b33), color-stop(51%, rgba(45, 52, 60, 0.38)), color-stop(92%, #242b33)), url("./../img/header/header-bg.jpg");
  background: linear-gradient(180deg, #242b33 12%, rgba(45, 52, 60, 0.38) 51%, #242b33 92%), url("./../img/header/header-bg.jpg");
}
@media screen and (max-width: 959px) {
  .header {
    min-height: unset;
    row-gap: 50px;
  }
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top-row--mobile {
  position: fixed;
  z-index: 9;
  background-color: #242b33;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 60px;
  padding-top: 40px;
}
.header__top-row--mobile .header__nav {
  display: block;
}
.header__top-row--mobile .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top-row--mobile .header__nav-btn {
  position: fixed;
  z-index: 11;
  top: 50px;
  right: 15px;
}

@media screen and (max-width: 959px) and (max-width: 959px) {
  .header__nav {
    display: none;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 959px) and (max-width: 959px) {
  .header__nav-btn {
    display: block;
  }
}

.header__title {
  position: relative;
  padding-bottom: 121px;
  text-align: center;
  color: #d4c17f;
  font-family: "Playfair Display", serif;
  font-size: 48px;
  font-weight: 700;
}
@media screen and (max-width: 959px) {
  .header__title {
    padding-bottom: 80px;
    font-size: 30px;
  }
}

.header__title-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.header__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 98px;
}
@media screen and (max-width: 959px) {
  .header__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 30px;
  }
}

.nav {
  font-size: 14px;
  letter-spacing: 0.05em;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.info {
  position: relative;
  font-size: 18px;
}
.info--map, .info--tel {
  padding-left: 35px;
}
.info--map::before, .info--tel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
}
.info--map::before {
  background-image: url("./../img/header/map.svg");
}
.info--tel::before {
  background-image: url("./../img/header/tel.svg");
}
@media screen and (max-width: 959px) {
  .info {
    font-size: 14px;
  }
  .info--map, .info--tel {
    padding-left: 30px;
  }
}

.benefits {
  position: relative;
  padding: 120px 0;
  overflow: hidden;
}
.benefits::after {
  content: "II";
  left: calc(50% + 555px);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: absolute;
  top: 0;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  font-weight: 700;
  line-height: 1;
  opacity: 0.02;
  line-height: 1.15;
}
@media screen and (max-width: 959px) {
  .benefits {
    padding: 60px 0;
  }
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
@media screen and (max-width: 959px) {
  .benefits__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    row-gap: 40px;
  }
}

.benefits__item {
  text-align: center;
}

.benefits__item-img {
  margin-bottom: 50px;
}
@media screen and (max-width: 959px) {
  .benefits__item-img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
}

.benefits__item-text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.35;
}
@media screen and (max-width: 959px) {
  .benefits__item-text {
    font-size: 16px;
  }
}

.apartments {
  position: relative;
}
.apartments::before {
  content: "III";
  right: calc(50% + 555px);
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  position: absolute;
  top: 0;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  font-weight: 700;
  line-height: 1;
  opacity: 0.02;
}

.apartments__title {
  padding-bottom: 88px;
}
@media screen and (max-width: 959px) {
  .apartments__title {
    padding-bottom: 50px;
  }
}

.apartments__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .apartments__cards {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px;
  }
}

.card {
  overflow: hidden;
  display: inline-block;
  position: relative;
  color: #fff;
}
.card::before {
  content: "";
  position: absolute;
  z-index: 6;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242b33));
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%);
}
.card::after {
  opacity: 0;
  position: absolute;
  z-index: 7;
  content: "";
  left: 15px;
  top: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.card:hover::after {
  opacity: 1;
}
.card:hover {
  color: #fff;
}

.card__img {
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.card:hover .card__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: contrast(120%) brightness(1.2) saturate(1.2);
          filter: contrast(120%) brightness(1.2) saturate(1.2);
}

.card__title {
  position: absolute;
  z-index: 8;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-size: 24px;
}
@media screen and (max-width: 959px) {
  .card__title {
    font-size: 20px;
    left: 30px;
    right: 20px;
    bottom: 30px;
  }
}

.cta {
  padding: 180px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.42%, #242b33), color-stop(50.52%, rgba(36, 43, 51, 0)), color-stop(90.1%, #242b33)), -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.9)), to(rgba(36, 43, 51, 0.9))), url("./../img/cta/cta-bg.png"), #c4c4c4;
  background: linear-gradient(180deg, #242b33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242b33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url("./../img/cta/cta-bg.png"), #c4c4c4;
}
@media screen and (max-width: 959px) {
  .cta {
    padding: 90px 0;
  }
}

.cta__title {
  padding-bottom: 17px;
}

.cta__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .cta__wrapper {
    grid-template-columns: 1fr;
  }
}

.cta__text {
  line-height: 1.5;
}
.cta__text p + p {
  margin-top: 1em;
}
@media screen and (max-width: 959px) {
  .cta__text {
    font-size: 14px;
  }
}

.cta__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}
@media screen and (max-width: 959px) {
  .cta__form {
    grid-template-columns: 1fr;
  }
}

.form__input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14px;
  line-height: 1.687;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.form__input::-webkit-input-placeholder {
  color: #bebebe;
}
.form__input::-moz-placeholder {
  color: #bebebe;
}
.form__input:-ms-input-placeholder {
  color: #bebebe;
}
.form__input::-ms-input-placeholder {
  color: #bebebe;
}
.form__input::placeholder {
  color: #bebebe;
}
.form__input:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

.text__privicy {
  font-size: 13px;
  line-height: 1.5;
  text-align: center;
  color: #E7E7E7;
}
@media screen and (max-width: 959px) {
  .text__privicy--move {
    grid-row: 4/5;
  }
}

.form__btn {
  height: 50px;
  color: #fff;
  font-weight: 600;
  line-height: 1.687;
  padding: 12px 12px;
  background: #d4c17f;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.form__btn:hover {
  background-color: rgb(229.1, 202.4552941176, 109.9);
}

.video {
  overflow: hidden;
  position: relative;
}
.video::after {
  content: "IV";
  left: calc(50% + 555px);
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: absolute;
  top: 0;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  font-weight: 700;
  line-height: 1;
  opacity: 0.02;
  line-height: 1.5;
}

.video__link {
  position: relative;
  display: block;
  text-align: center;
}
.video__link::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.video__link:hover::before {
  background: rgba(36, 43, 51, 0.7);
}

.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.video__icon:hover {
  -webkit-transform: translate(-50%, -50%) scale(150%);
          transform: translate(-50%, -50%) scale(150%);
  -webkit-filter: saturate(1.3);
          filter: saturate(1.3);
}
@media screen and (max-width: 959px) {
  .video__icon {
    width: 70px;
    height: 70px;
  }
}

.section-map {
  padding-top: 180px;
  padding-bottom: 180px;
  position: relative;
}
.section-map::before {
  content: "V";
  right: calc(50% + 555px);
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  position: absolute;
  top: 0;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  font-weight: 700;
  line-height: 1;
  opacity: 0.02;
  z-index: -1;
  top: 180px;
}
@media screen and (max-width: 959px) {
  .section-map {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.section-map__title {
  margin-bottom: 88px;
}
@media screen and (max-width: 959px) {
  .section-map__title {
    margin-bottom: 44px;
  }
}

.map {
  height: 358px;
  background-color: rgb(86, 86, 86);
}

[class*=copyrights-pane] {
  /* display: none !important; */
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.map:hover [class*=copyrights-pane] {
  opacity: 1;
}

/* Создать свою карту - не показывать*/
[class*=gototech] {
  display: none !important;
}

[class*=ground-pane] {
  -webkit-filter: grayscale(1) sepia(10%);
          filter: grayscale(1) sepia(10%);
}

/* Baloon */
[class*=balloon__layout], [class*=balloon__content] {
  background-color: #242b33 !important;
  color: #d4c17f !important;
}

[class*=balloon__tail]::after {
  background-color: #242b33 !important;
}

[class*=balloon_layout_panel] {
  background-color: #242b33 !important;
}

[class*=balloon__layout], [class*=balloon__content] a {
  color: #d4c17f !important;
}

[class*=balloon__close-button] {
  background: url("./../img/map/map-ballon.svg") 50% no-repeat !important;
  width: 15px !important;
  height: 15px !important;
  margin: 10px 7px;
}

.feedback {
  padding-bottom: 180px;
}
@media screen and (max-width: 959px) {
  .feedback {
    padding-bottom: 90px;
  }
}

.feedback__title {
  margin-bottom: 38px;
}
@media screen and (max-width: 959px) {
  .feedback__title {
    margin-bottom: 19px;
  }
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 959px) {
  .feedback__form {
    grid-template-columns: 1fr;
  }
}

.footer {
  padding-top: 72px;
  padding-bottom: 51px;
  background-color: #2D343C;
  font-size: 14px;
  letter-spacing: 0.05rem;
}
@media screen and (max-width: 959px) {
  .footer {
    padding-top: 36px;
    padding-bottom: 25px;
  }
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .footer__grid {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 50px 40px;
  }
}

.footer__logo {
  margin-top: -12px;
}

.footer__nav-list {
  display: grid;
  gap: 15px;
}

.footer__address {
  display: grid;
  gap: 20px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}/*# sourceMappingURL=main.css.map */