.benefits {
    position: relative;
    padding: 120px 0;
    overflow: hidden;

    &::after {
        content: "II";
        left: calc(50% + 555px);
        transform: translate(-50%, 0);

        @include decorNumber;
        line-height: 1.15;
    }

    @include mediaTablet {
        padding: 60px 0;
    }
}

.benefits__row {
    display: flex;
    column-gap: 70px;

    @include mediaTablet {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        row-gap: 40px;
    }
}

.benefits__item {
    text-align: center;
}

.benefits__item-img {
    margin-bottom: 50px;

    @include mediaTablet {
        width: 60px;
        height: 60px;
        margin-bottom: 20px;
    }
}
.benefits__item-text {
    font-family: $font-secondary;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.35;
    
    @include mediaTablet {
        font-size: 16px;
    }
}
