.info {
    position: relative;
    font-size: 18px;

    &--map,&--tel {
        padding-left: 35px;
        &::before {
            content: "";

            position: absolute;
            top: 0;
            left: 0;
            width: 21px;
            height: 21px;

            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &--map::before {
        background-image: url("./../img/header/map.svg");
    }

    &--tel::before {
        background-image: url("./../img/header/tel.svg");
    }

    @include mediaTablet {
        font-size: 14px;

        &--map,&--tel {
            padding-left: 30px;
        }
    }
}
