.video {
    overflow: hidden;
    position: relative;
    &::after {
        content: "IV";
        left: calc(50% + 555px);
        transform: translate(-50%, 0);

        @include decorNumber;
        line-height: 1.5;
    }
}

.video__link {
    position: relative;
    display: block;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(36, 43, 51, 0.8);
        transition: background-color 0.2s ease-in;
    }

    &:hover::before {
        background: rgba(36, 43, 51, 0.7);
    }
}

.video__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &:hover {
        transform: translate(-50%, -50%) scale(150%);
        filter: saturate(1.3);
    }

    @include mediaTablet {
        width: 70px;
        height: 70px;
    }
}



