[class*="copyrights-pane"] {
	/* display: none !important; */
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.map:hover [class*="copyrights-pane"] {
    opacity: 1;
}

/* Создать свою карту - не показывать*/
[class*="gototech"] {
     display: none !important;
}

[class*="ground-pane"] {
	filter: grayscale(1) sepia(10%);
}

/* Baloon */

[class*="balloon__layout"], [class*="balloon__content"] {
	background-color: $dark !important;
    color: $accent !important;
}

[class*="balloon__tail"]::after {
	background-color: $dark !important;
}

[class*="balloon_layout_panel"] {
	background-color: $dark !important;
}

[class*="balloon__layout"], [class*="balloon__content"] a {
    color: $accent !important;
}

[class*="balloon__close-button"] {
    background: url('./../img/map/map-ballon.svg') 50% no-repeat !important;
    width: 15px !important;
    height: 15px !important;
    margin: 10px 7px;
}