@mixin decorNumber {
    position: absolute;
    top: 0;
    font-family: $font-accent;
    font-size: 400px;
    font-weight: 700;
    line-height: 1;
    opacity: 0.02;
    // color: rgba(255, 255, 255, 0.02);
}

@mixin mediaTablet {
    @media screen and (max-width: $tablet-breakpoint) {
        @content;
    }
}
